body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.42;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

.main-page-wrapper {
    background: url("./images/bg/hero.jpg") center top no-repeat, url("./images/bg/bottom-pic.jpg") right bottom 307px no-repeat;
    height: 100%;
    weight: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1150px;
}

header {
    min-height: 90px;
    position: relative;
    margin-bottom: 162px;
}

.logo {
    display: block;
    position: absolute;
    top: 21px;
    left: 0;
}

.logo__footer {
    display: block;
    position: absolute;
    top: 35px;
    left: 0;
}

.menu {
    position: absolute;
    top: 33px;
    left: 50%;
    transform: translateX(-50%);
}

.menu__footer {
    position: absolute;
    top: 42px;
    left: 320px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 53px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #FF3D00;
}

.contacts {
    position: absolute;
    top: 17px;
    right: 8px;
    font-style: normal;
    text-align: right;
}

.contacts__tel {
    text-decoration: none;
    font-size: 26px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
}

.contacts__text {
    color: #9A9A9A;
    font-size: 11px;
}

.preview {
    width: 780px;
    margin-bottom: 242px;
    margin-left: 183px;
}

.preview__title {
    font-size: 72px;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 16px;
    text-align: center;
}

.preview__description {
    font-size: 18px;
    margin-bottom: 43.5px;
    text-align: center;
}

button {
    background: #FF3D00;
    border-radius: 35px;
    padding: 17px 51px;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 35px;
    border: 0;
}

.preview__button {
    margin-left: 291px;
}

.button--btn--color-red {
    background: #FF3D00;
    border-radius: 35px;
    padding: 18px 45px;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.button--color-none {
    background: white;
    color: #FF5500;
    padding: 16px 45px;
    border: 2px solid #FF5500;
    font-size: 16px;
}

.video {
    margin-bottom: 145px;
}

.video__item {
    min-height: 476px;
    background: #ffffff;
    border-radius: 5px;
    display: inline-block;
    margin-right: 28px;
    width: 362px;
    margin-right: 25px;
    color: #010001;
    vertical-align: top;
    padding: 34px 34px 0px 29px;
}

.video__item:last-child {
    margin-right: 0;
    padding: 35px 27px 0px 26px;
}

.video__item:nth-child(2) {
    border: 7px solid #CCCCCC;
    padding: 27px 27px 0px 22px;
}

.video__img-wrapper {
    position: relative;
    min-height: 100px;
    padding: 36px, 29px;
}

.video__content {
    color: #666666;
}

.video__subtitle {
    font-weight: bold;
    color: #000000;
    font-size: 30px;
}

.video__desc {
    padding: 24px 0 8px;
}
.video__desc-block {
    display: inline-block;
    vertical-align: top;
    color: #666666;
    font-size: 16px;
    width: 102px;
}

.video__desc-block:last-child {
    margin-left: 36px;
}

.video__desc-block-text {
    font-size: 16px;
}

.video__text {
    color: #666666;
    font-size: 14px;
    margin-bottom: 39px;
}

.news__title {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 47px;
    text-transform: uppercase;
}

.news__item {
    width: 557px;
    height: 394px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 15px;
}

.news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
    border-radius: 5px;
}

.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 17px 30px;
    min-height: 140px;
}

.news__date-month.news__date-year {
    font-size: 13px;
    margin-bottom: 12.5px;
}

.news__subtitle {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 2px;
}

.news__text {
    font-size: 15px;
}

.news__list {
    margin-bottom: 48px;
}

.paginator {
    text-align: center;
    margin-bottom: 151px;
}

.paginator__display,.paginator__list {
    display: inline-block;
    vertical-align: middle;
}
.paginator__display {
    margin-right: 25px;
}

.paginator__item {
    display: inline-block;
    vertical-align: middle;
}

.paginator__item--active .paginator__link {
    background: #FF5500;
}

.paginator__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 30px;
}

.about-us {
    margin-bottom: 53px; 
}

.about:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 498px;
    background: url("./images/decor/cameraman.jpg") center center / cover no-repeat;
}

.about__desc {
    background: #ffffff;
    padding: 68px 105px 75px 96px;
    display: inline-block;
    vertical-align: top;
    width: 780px;
    border-radius: 5px;
    margin-left: -133px;
    margin-top: 105px;   
}

.about__title {
    font-weight: 800;
    font-size: 36px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 37px;
}

.about__desc-text {
    margin-bottom: 37px;
    color: #060606;
}

.about__desc-text p {
    margin-bottom: 20px;
}
.about__desc-text p:last-child {
    margin-bottom: 0;
}

.footer-container__content {
    border-top: 1px solid #ffffff;
}

.footer {
    height: 146px;
    position: relative;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials {
    position: absolute;
    top: 40px;
    right: 267px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
    background-image: url(./images/icons/socials/t.png);
}

.socials__item--icon--telegram .socials__link:hover {
    background-image: url(./images/icons/socials/t2.png);
}

.socials__item--icon--vk .socials__link {
    background-image: url(./images/icons/socials/vk.png);
}

.socials__item--icon--vk .socials__link:hover {
    background-image: url(./images/icons/socials/vk2.png);
}

.socials__item--icon--facebook .socials__link {
    background-image: url(./images/icons/socials/f.png);
}

.socials__item--icon--facebook .socials__link:hover {
    background-image: url(./images/icons/socials/f2.png);
}

.socials__item--icon--instagram .socials__link {
    background-image: url(./images/icons/socials/in.png);
}

.socials__item--icon--instagram .socials__link:hover {
    background-image: url(./images/icons/socials/in2.png);
}