body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.42;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}


body,
html {
    height: 100%;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.main-page-wrapper {
    background: url("./images/bg/hero.jpg") center top no-repeat, url("./images/bg/bottom-pic.jpg") right bottom 307px no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 1200px;
}

.container {
    margin: 0 auto;
    width: 1150px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 251px;
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 90px;
    margin-bottom: 50px;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.logo {
    display: block;
    top: 21px;
    left: 0;
    margin-right: 346px;
}

.logo__footer {
    display: block;
    top: 35px;
    left: 0;
}

.menu {
    top: 33px;
    left: 50%;
    transform: translateX(-50%);
}

.menu__footer {
    top: 42px;
    left: 320px;
    margin-top: 15px;
    margin-right: 62px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 53px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #FF3D00;
}

.contacts__tel {
    text-decoration: none;
    font-size: 26px;
}

.contacts__dropdown-title {
    display: inline-block;
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
}

.dropdown {
    position: relative;
}

.dropdown__menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 8px;
}

.dropdown__content {
    font-size: 13px;
    line-height: 21px;
    color: #1E1F20;
    background: rgba(237, 237, 237, .8);
    padding: 14px 16px;
    border-radius: 5px;
}

.dropdown__menu::before {
    content: "";
    display: block;
    width: 100%;
    height: 20%;position: absolute;
    top: -20px;
    border-radius: 5px;
}

.dropdown__menu::after {
    content: "";
    display: block;
    border: 10px solid transparent;
    border-bottom-color: rgba(237, 237, 237, .8);
    position: absolute;
    bottom: 100%;
    right: 22%;
}

.dropdown:hover .dropdown__menu {
    display: block;
}

.time {
    font-weight: 700;
}

.contacts {
    margin-right: 8px;
    font-style: normal;
    text-align: right;
}

.contacts__text {
    color: #9A9A9A;
    font-size: 11px;
}

.preview {
    width: 68%;
    margin-bottom: 242px;
    margin-left: 183px;
}

.preview__title {
    font-size: 72px;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 16px;
    text-align: center;
}

.preview__description {
    font-size: 18px;
    margin-bottom: 43.5px;
    text-align: center;
}

button {
    background: #FF3D00;
    border-radius: 35px;
    padding: 17px 51px;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 35px;
    border: 0;
}

.preview__button {
    margin-left: 291px;
}

.button--btn--color-red {
    background: #FF3D00;
    border-radius: 35px;
    padding: 18px 45px;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.preview__button .button--btn--color-red {
    background: #FF3D00;
}

.button--color-none {
    background: white;
    border-radius: 35px;
    font-weight: bold;
    color: #FF5500;
    padding: 16px 45px;
    border: 2px solid #FF5500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.service__button--color-none {
    background: none;
}

.button--btn--color-grey {
    background: #8E8E8E;
}

.video {
    margin-bottom: 145px;
    display: flex;
    flex-direction: column;
}

.video__list {
    display: flex;
    justify-content: space-between;
}

.video__item {
    min-height: 476px;
    background: #ffffff;
    border-radius: 5px;
    width: calc(100% / 3 - 18px);
    color: #010001;
    padding: 34px 34px 0px 29px;
}

.video__item:last-child {
    margin-right: 0;
    padding: 35px 27px 0px 26px;
}

.video__item:nth-child(2) {
    border: 7px solid #CCCCCC;
    padding: 27px 27px 0px 22px;
}

.video__img-wrapper {
    position: relative;
    min-height: 100px;
    padding: 36px, 29px;
}

.video__content {
    color: #666666;
}

.video__subtitle {
    font-weight: bold;
    color: #000000;
    font-size: 30px;
}

.video__desc {
    padding: 24px 0 8px;
}

.video__desc-block {
    display: inline-block;
    vertical-align: top;
    color: #666666;
    font-size: 16px;
    width: 102px;
}

.video__desc-block:last-child {
    margin-left: 36px;
}

.video__desc-block-text {
    font-size: 16px;
}

.video__text {
    color: #666666;
    font-size: 14px;
    margin-bottom: 39px;
}

.video__button {
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
}

.news__title {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 47px;
    text-transform: uppercase;
}

.news__item {
    flex: 1;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 15px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
    border-radius: 5px;
}

.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 17px 30px 0;
    min-height: 140px;
}

.news__date-month.news__date-year {
    font-size: 13px;
    margin-bottom: 12.5px;
}

.news__subtitle {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 6px;
    margin-top: 10px;
}

.news__text {
    font-size: 15px;
}

.news__list {
    margin-bottom: 65px;
    display: flex;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news__paginator {
    margin-bottom: 151px;
}

.paginator--theme--light {
    color: #000000;
}

.paginator--theme--light .paginator__item--active {
    color: #000000;
}

.paginator__item {
    text-align: center;
}

.paginator__display,
.paginator__list {
    display: inline-block;
    vertical-align: middle;
}

.paginator__display {
    margin-right: 25px;
}

.paginator__item--active .paginator__link {
    background: #FF5500;
    color: white;
}

.paginator__list {
    display: flex;
    align-items: center;
}

.paginator__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 30px;
}

.about-us {
    margin-bottom: 53px;
}

.about {
    display: flex;
}

.about:before {
    content: "";
    display: block;
    width: 490px;
    height: 498px;
    background: url("./images/decor/cameraman.jpg") center center / cover no-repeat;
}

.about__desc {
    background: #ffffff;
    padding: 68px 105px 75px 96px;
    display: inline-block;
    vertical-align: top;
    max-width: 780px;
    border-radius: 5px;
    margin-left: -133px;
    margin-top: 105px;
}

.about__title {
    font-weight: 800;
    font-size: 36px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 37px;
}

.about__desc-text {
    margin-bottom: 37px;
    color: #060606;
}

.about__desc-text p {
    margin-bottom: 20px;
}

.about__desc-text p:last-child {
    margin-bottom: 0;
}

.footer-container {
    margin-top: auto;
}

.footer-container__section {
    height: 146px;
    margin-top: 27px;
}

.footer-container__content {
    border-top: 1px solid #ffffff;
}

.footer {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials {
    position: absolute;
    margin-top: 10px;
    right: 268px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
    background-image: url(./images/icons/socials/t.png);
}

.socials__item--icon--telegram .socials__link:hover {
    background-image: url(./images/icons/socials/t2.png);
}

.socials__item--icon--vk .socials__link {
    background-image: url(./images/icons/socials/vk.png);
}

.socials__item--icon--vk .socials__link:hover {
    background-image: url(./images/icons/socials/vk2.png);
}

.socials__item--icon--facebook .socials__link {
    background-image: url(./images/icons/socials/f.png);
}

.socials__item--icon--facebook .socials__link:hover {
    background-image: url(./images/icons/socials/f2.png);
}

.socials__item--icon--instagram .socials__link {
    background-image: url(./images/icons/socials/in.png);
}

.socials__item--icon--instagram .socials__link:hover {
    background-image: url(./images/icons/socials/in2.png);
}

/*services page */

.top-line {
    min-height: 407px;
    display: flex;
    flex-direction: column;
    padding-bottom: 26px;
    background: url(./images/bg/top-line.jpg) right 43% top no-repeat;
}

.top-line__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-title {
    font-size: 72px;
    font-weight: 800;
    line-height: 98px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
    color: #9a9a9a;
    font-weight: bold;
}

.breadcrumbs__item:after {
    content: "/";
    color: #9a9a9a;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__link {
    color: #9a9a9a;
    font-size: 14px;
}

.page-content {
    background: #f4f5f5;
    color: #303030;
    padding-top: 41px;
    min-height: 1000px;
}

.services {
    margin-bottom: 61px;
}

.service {
    display: flex;
    padding-top: 55px;
    text-decoration: none;
}

.service__img {
    width: 40%;
    margin-right: 5%;
}

.service__content {
    flex: 1;
}

.service__title {
    font-size: 36px;
    font-weight: 700;
    margin-top: 14px;
    margin-bottom: 29px;
    color: #000000;
}

.service__desc {
    line-height: 27px;
    margin-bottom: 32px;
}

.service__img-elem {
    border-radius: 5px;
    width: 460px;
    height: 333px;
}

.inner-section {
    color: #F4F5F5;
}

.inner-section--bg--grey {
    background: #E5E5E5;
    padding: 92px 0px 78px;
}

.inner-section__title {
    font-weight: 800;
    font-size: 46px;
    line-height: 49px;
    color: #202020;
    margin-bottom: 66px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    margin-left: 46px;
}

.partners__item:nth-child(4n + 1) {
    margin-left: 0;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 253px;
    height: 123px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: grayscale(0);
}

.inner-footer__container {
    padding: 39px 0;
}

.inner-footer {
    margin-top: auto;
}

/* reviews page */

.reviews__page-content {
    min-height: 1580px;
    padding-top: 98px;
}

.reviews {
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 75px;
}

.reviews__item {
    margin-bottom: 20px;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px;
    background: #e5e5e5;
    border-radius: 5px;
}

.avatar {
    width: 145px;   
    height: 145px;
    overflow: hidden;
    border-radius: 50%;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}

.review__userdata {
    margin-left: 19px;
    margin-bottom: 12px;
}

.review__user {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    color: #2E77A4;
}

.review__user:after {
    content: url(./images/icons/socials/vk-colored.png);
    height: 32px;
    margin-left: 6px;
}

.review__tags {
    display: flex;
    align-items: flex-start;
    margin-top: 8px;
}

.tag {
    font-size: 13px;
    color: #303030;
    padding: 9px 12px;
    background:#d7d7d7;
    border-radius: 35px;
}

.tag--bg--rose {
    background: #F2D4C9;
}

.review__title {
    font-weight: bold;
    font-size: 30px;
    color: #202020;
    margin-bottom: 20px;
}

.review__content-text {
    color: #818181;
    margin-bottom: 29px;
    font-size: 16px;
    line-height: 27px;
}

.review__date {
    color: #1A1B1E;
    font-weight: 600;
    font-size: 14px;
}

.separator {
    background: #373737 url(./images/decor/party.png) right 16% bottom 46% no-repeat;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #373737;
}

.separator__content {
    max-width: 49%;
}

.colortext {
    color: #FF3D00;;
}

.separator__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #ffffff;
}

.inner-section__title-reviews{
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    color: #202020;
    margin-bottom: 58px;
}

.inner-section--bg--gr {
    padding: 77px 0px 98px;
}

.form__controls-title {
    font-size: 18px;
    color: #1A1B1E;
}

.form__row {
    display: flex;
    margin-bottom: 28px;
}

.form__input {
    flex: 1;
    margin-right: 30px;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 20px 30px;
    font-size: 18px;
    color: #1A1B1E;
}

.form__input::placeholder{
    color: #666666;
}

.form__input:last-child {
    margin-right: 0;
}

.form__input--textarea {
    min-height: 235px;
}

.form__controls {
    display: flex;
    margin-bottom: 20px;
}

.form__controls-title {
    width: 40%;
}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -10px;
    margin-right: -13px;

}
.controls__item {
    margin-bottom: 10px;
    margin-right: 13px;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #F2D4C9;
}

.controls__checkbox {
    display: none;
}

.form__buttons {
    display: flex;
    justify-content: flex-end;
}

.form__button {
    margin-right: 13px;
}

.form__button:last-child {
    margin-right: 0;
}

.button--btn--color-grey:hover {
    background: #2b2b2b;
}

.button--btn--color-red {
    background: #ff5500;
}

.button--btn--color-red:hover {
    background: #ff3d00;
} 

/* welcome page */

.welcome {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url(./images/bg/bottom-pic.jpg) center bottom / cover no-repeat;
}


.central {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: rotateIn 0.9s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.central__logo {
    margin-bottom: 60px;
}

.button--welcome {
    background: #FF5500;
}

.button--welcome:hover {
    background: #ff3d00;
}

@keyframes rotateIn {
0% {
    transform: scale(0.1) rotate(30deg);
}

50% {
    transform: rotate(-10deg);
}

70% {
    transform: rotate(3deg);
}

100% {
    transform: scale(1);
    opacity: 1;
}
}
